body,button {
  font-size: 100%;
}
.wordinput,.verdict {
  font-size: 130%;
}

body {
  background-color: lightblue;
}

button.letter {
  padding: 0 5px;
}
button.letter.shade1 {
  background-color:aquamarine;
}
button.letter.shade2 {
  background-color: orange;
}

table.wordtable {
  border-spacing: 20px 0;
}